services:
  app:
    image: node
    ports:
      - '8000:80'
    working_dir: /tmp
    volumes:
      - ./package.json:/tmp/package.json
      - ./index.js:/tmp/index.js
      - ./public:/tmp/public
      - ./views:/tmp/views
    command: bash -c 'npm install && node index.js' 

  https-portal: 
    image: steveltn/https-portal:latest
    ports:
      - '80:80'
      - '443:443'
    restart: always
    environment:
      DOMAINS: 'www.swiftpanda.jp -> http://app'
      STAGE: 'production'
    links:
      - app
    volumes:
      - https-portal-data:/var/lib/https-portal

volumes:
  https-portal-data:

