<!DOCTYPE html>
<html>
  <%- include('common-header'); %>
  <body>
    It's bashboard, Hello <%=username %>!
    <br/>
    <form method="GET" action="/logout">
      <input type="submit" value="logout" />
    </form>
  </body>
</html>

