<!DOCTYPE html>
<html>
  <%- include('common-header'); %>
  <body>
    <div id="swiftpanda-app">
      <div class="app-box dashboard">
        <form method="GET" action="/logout">
          <div class="block">
            It's bashboard, Hello <%= userid %>!
          </div>
          <input type="submit" value="logout" />
        </form>
      </div>
    </div>
  </body>
</html>

