<!DOCTYPE html>
<html>
  <%- include('common-header'); %>
  <body>
    <div id="swiftpanda-app">
      <div class="app-box login">
        <form method="POST" action="/login">
          <div class="block">
            <label>User Id</label>
            <br/>
            <input name="userid" type="text" />
            <br/>
            <label>Password</label>
            <br/>
            <input name="password" type="password" />
          </div>
          <input type="submit" value="login" />
        </form>
      </div>
    </div>
  </body>
</html>
