
body {
  font-size: 16px;
  color: #eee;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #111, #525);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

input[type="submit"] {
  background-color: rgba(155, 155, 255, 1.0);
  border-radius: 3px;
  border: none;
  height: 20px;
  width: 168px;
}

input[type="submit"]:hover {
  background-color: rgba(199, 199, 255, 1.0);
}


#login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#login-form-container div {
  padding: 10px;
  padding-left: calc((100% - 160px) / 2);
}

#login-form-container input {
  width: 160px;
}

#login-form-container form {
  box-shadow: 0px 0px 1px 1px #969;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 300px;
  height: 200px;
  backdrop-filter: blur(1px);
}

#login-form-container label {
  font-size: 12px;
  color: #eee;
  display: inline-block;
  width: 100px;
}
