
body {
  font-size: 16px;
  color: #eee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #111, #525);
  background-size: 400% 400%;
  animation: rotation 10s ease infinite;
}

@keyframes rotation{
    0%{
      background-position: 0%;
    }
    50%{
      background-position: 100%;
    }
    100%{
      background-position: 0%;
    }
}

#swiftpanda-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#swiftpanda-app .app-box {
  box-shadow: 0px 0px 1px 1px #969;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 300px;
  height: 200px;
  backdrop-filter: blur(1px);
}

#swiftpanda-app .app-box .block {
  padding: 10px;
}

#swiftpanda-app .app-box.login input[type="text"] {
  width: 160px;
}

#swiftpanda-app .app-box.login label {
  font-size: 12px;
  color: #eee;
  display: inline-block;
  width: 100px;
}

#swiftpanda-app .app-box.login input[type="submit"],
#swiftpanda-app .app-box.dashboard input[type="submit"] {
  width: 100px;
  background-color: rgba(155, 155, 255, 1.0);
  border-radius: 3px;
  border: none;
  height: 20px;
  position: absolute;
  top: calc(100% - 25px);
  left: calc(100% - 105px);
}

#swiftpanda-app .app-box.login input[type="submit"]:hover,
#swiftpanda-app .app-box.dashboard input[type="submit"]:hover {
  background-color: rgba(199, 199, 255, 1.0);
}
